.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.grid-item {
  height: 400px;
  background-color: rgb(159, 159, 172);
  border: 2px solid grey;
  max-width: 25vw;
}

#left-edge {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

#right-edge {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

#grid-center {

}