/* DO NOT DELETE */
/* Background animation */
#particles-js {
  height: 100vh;
  width: 100%;
  background: #59a4d9;
  font-size: 32px;
}

/* Title positioning */
 .title {
  position: absolute;
  top: 40%;
  left: 30%;
  right: 30%;
  text-align: center;
}

@media (max-width: 1250px) {
  .cl {
    width: 330px;
  }

  .clh2 {
    margin-top: 24px;
    font-size: 20px
   }

   .clli {
    color: black;
    font-size: 16px;
   }

   .background-text {
    height: 600px;
    margin-bottom: -250px;
   }
}

@media (max-width: 1024px) {

  .background-text {
    height: 500px;
    margin-bottom: -130px;
  }

  .cl {
    width: 280px;
  }

  .project-item {
    width: 300px!important;
   }

}

/* Testable */
@media (max-width: 768px) {

    /* Columns */
     .column-about {
      width: 75vw;
      margin-bottom: 10px;
     }

     .column-container {
      flex-direction: column;
      align-items: center;
     }

     .box-1-text {
      font-size: 12px;
      font-weight: 500;
     }

    /* Columns end */

     .nav-con {
      display: flex;
      justify-content: center;
      flex-direction: column;
      padding: 0px;
     }

     .nav-icon {
       width: 60px!important;
       height: 50px!important;
     }

     li {
      font-size: 28px;
     }

     .title {
      font-size: 30px;
     }

     .scroll-down {
      height: 60px!important;
      width: 60px!important;
      border-radius: 40px!important;
      position: absolute;
      left: 45%!important;
      right: 30%!important;
     }

     .projects-container {
      display: flex;
      flex-direction: column;
     }

     .project-item {
      width: 80vw!important;
     }

     .box-container {
      flex-direction: column;
     }

     .box {
      max-height: 28vh;
      width: 60vw;
     }

     .column-about {
      justify-content: center;
      align-items: center;
      height: 1200px;
     }

     #personal-desc-container {
      flex-direction: column;
     }

     .personal-desc {
      width: 90vw;
      height: 300px;
     }

     .desc-para {
      min-width: 80vw!important;

      min-height: 80vh!important;
      text-align: center;
     }

     .desc-header {
      text-align: center;
     }

     .personal-desc-title {
      font-size: 24px;
      text-align: center;
     }

     .background-text {
      height: 650px;
      margin-bottom: -200px;
    }

    /* Columns */
     .cl-container {
      height: 1600px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
     }

     .cl {
      height: 500px!important;

      width: 450px!important;
     }

     .left {
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
      border-bottom-left-radius: 0px;
      border-bottom: 0px;
     }

     .mid {

     }



     .right {
      border-top-right-radius: 0px;
      border-bottom-right-radius: 15px;
      border-bottom-left-radius: 15px;
     }
}

@media (max-width: 576px) {
     li {
      font-size: 18px;
     }

     .p-main {
      max-width: 80vw!important;
     }

      #particles-js {
        max-height: 100vh;
        min-width: 95vw;
        background: #59a4d9;
        font-size: 32px;
     }

     .nav-icon {
      width: 40px!important;
      height: 40px!important;
    }

    .title {
      font-size: 24px;
      position: absolute;
      top: 40%;
      left: 25%;
      right: 20%;
    }

    .cl {
      height: 650px!important;
      width: 370px!important;
     }

}

@media (max-width: 450px) {
    .cl {
      width: 300px!important;
    }

    .background-text {
      margin-bottom: -200px;
      height: 700px;
    }
    .box-1-text {
      font-size: 10px;
      font-weight: 500;
     }
     .title {
       font-size: 20px;
     }

     li {
      font-size: 20px;
     }

     .personal-desc {
      width: 90vw;
      height: 360px;
     }
}

@media (max-width: 378px) {
      .title {
       font-size: 18px;
     }

     li {
      font-size: 13px;
     }
}

@media (max-width: 880px) {
  .cl {
    width:240px;
  }
}

/* Scroll button */
.scroll-down {
  height: 70px;
  width: 70px;
  border: 2px solid white;
  background-color: rgba(255, 255, 255, 0.4);
  position: absolute;
  left: 47%;
  right: 30%;
  bottom: 20px;
  border-radius: 50px;
  cursor: pointer;
}
.scroll-down::before,
.scroll-down::after {
  content: "";
  position: absolute;
  top: 20%;
  left: 50%;
  height: 15px;
  width: 15px;
  transform: translate(-50%, -100%) rotate(45deg);
  border: 2px solid white;
  border-top: transparent;
  border-left: transparent;
  animation: scroll-down 1s ease-in-out infinite;
}
.scroll-down::before {
  top: 30%;
  animation-delay: 0.3s;
}

.scroll-down:hover {
  background-color:#b4b6b8; transition: 0.4s;
}

@keyframes scroll-down {
  0% {
    /* top:20%; */
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    top: 90%;
    opacity: 0;
  }
}
/* End scroll button */

/* Slider */
