/* Media queries */
@media screen and (max-width: 1400px) { 
  .column {
    width: 350px;
  }
}

@media screen and (max-width: 1200px) {
  li {
    font-size: 24px;
  }
  .column-background {
    height: 600px;
  }

  .column-head {
    font-size: 22px;
  }

  .column {
    width: 300px;
  }

  .column-list-item {
    font-size: 16px;
  }

  .column-h2 {
    margin-top: 24px;
    font-size: 30px;
  }
}

@media screen and (max-width: 1024px) {
  .column-background {
    margin-bottom: -350px;
    height: 700px;
  }
  
  .column {
    width: 235px;
  }
  
  .tool-icon {
    margin-top: 86px;
    padding: 24px;
    height: 60px;
    width: 70px;
  }
  
   .column-icon {
    width: 30px;
    height: 25px;
   }
  
   .column-head {
    margin: 24px 0px 36px 0px;
    font-size: 18px;
    text-align: center;
   }
  
  .column-list-item {
    font-size: 18px;
  }
  

  .about-h2 {
    padding-top: 16px;
    color: white;
    padding: 16px;
    font-size: 36px;
    text-align: center;
  }
  
  .para {
    font-size: 18px;
    width: 65vw!important;
  }  

  .personal-desc-title {
    font-size: 28px;
  }

  .personal-desc {
    height: 500px;
    gap: 12px;
  }
}

@media screen and (max-width: 900px) {
  
}

@media screen and (max-width: 768px) {
  .scroll-down {
    left: 45%!important;
  }

  .navbar {
    margin: 0 auto;
    height: 175px;
    background-color: #59a4d9;
    width: 100vw;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid white;
  }

  li {
  margin: 5px;
  margin-top: 10px;
  margin-left: 12px;
  font-size: 30px!important;
  font-weight: 500;
  }

  .nav-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0px;
    gap: 20px;
  }

  .nav-icon {
    width: 40px;
    height: 40px;
  }

  li {
    font-size: 30px!important;
  }

  .title {
    font-size: 26px;
  }

  .column-background {
    height: 700px;
    margin-bottom: -290px;
  }
  
  .about-h2 {
    font-size: 30px;
  }
  
  .para {
    font-size: 18px;
    width: 65vw!important;
  }  

  .column-container {
    height: 1800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .column {
    height: 600px;
    width: 450px;
  }

  .column-list-item {
    font-size: 24px!important;
  }

  .left {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 0px;
    border-bottom: 0px;
  }

  .right {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
  }

  .personal-desc-title {
    font-size: 20px;
  }

  #personal-desc-container {
    flex-direction: column;
  }
  
  .desc-header {
  text-align: center;
  }

  .personal-desc {
    width: 500px;
    height: 300px;
  }

  .footer-text {
    font-size: 17pxs;
  }
}

@media screen and (max-width: 576px) {
  .scroll-down {
    height: 50px;
    width: 50px;
  }
  
  .scroll-down::before,
  .scroll-down::after {
    height: 12px;
    width: 12px;
  }
  .nav-icon {
    width: 50px;
    height: 50px;
  }

  li {
   font-size: 24px!important;
  }

  .nav-icon {
    height: 40px;
    width: 40px;
    margin-left: 16px;
    margin-right: 16px;
  }

  .title {
    font-size: 22px;
  }
  .column-background {
    margin-bottom: -280px;
  }

  .para {
    font-size: 17px;
    width: 80vw!important;
  }

  .column {
    width: 325px;
  }

  .pro-icon {
    height: 35px;
    width: 35px;
  }

  .column-list-item {
    font-size: 20px!important;
  }

  .personal-desc-title {
    font-size: 18px;
  }

  .personal-desc {
    width: 350px;
  }
}

@media screen and (max-width: 481px) {
  .title {
    font-size: 17px;
  }

  li {
    font-size: 16px!important;
  }
}

@media screen and (max-width: 400px) {

}

/* extra */
@media screen and (min-width: 786px) {

}

/* Landing background animation / color */
#particles-js {
  height: 100vh;
  width: 100vw;
  background: #59a4d9;
  font-size: 32px;
}

/* Scroll button */
.scroll-down {
  height: 70px;
  width: 70px;
  border: 2px solid white;
  background-color: rgba(255, 255, 255, 0.4);
  position: absolute;
  left: 48%;
  right: 30%;
  bottom: 20px;
  border-radius: 50px;
  cursor: pointer;
}

.scroll-down::before,
.scroll-down::after {
  content: "";
  position: absolute;
  top: 20%;
  left: 50%;
  height: 15px;
  width: 15px;
  transform: translate(-50%, -100%) rotate(45deg);
  border: 2px solid white;
  border-top: transparent;
  border-left: transparent;
  animation: scroll-down 1s ease-in-out infinite;
}

.scroll-down::before {
  top: 30%;
  animation-delay: 0.3s;
}

.scroll-down:hover {
  background-color:#b4b6b8; transition: 0.4s;
}

@keyframes scroll-down {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    top: 90%;
    opacity: 0;
  }
}

/* Transition animation */
.animate {
  animation-duration: 0.5s;
  animation-name: animate-fade;
  animation-delay: 0.5s;
  animation-fill-mode: backwards;
}

.animate-2 {
  animation-duration: 0.3s;
  animation-name: animate-fade;
  animation-delay: 0.3s;
  animation-fill-mode: backwards;
}

@keyframes animate-fade {
  0% { opacity: 0; }
  100% { opacity: 1; }
}