* {
  margin: 0px;
  border: 0px;
  padding: 0px;
  list-style: none;
  text-decoration: none!important;
}

a {
  text-decoration: none;
}

/* General container */
.container {
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Name intro */
.title {
  font-weight: 600;
  text-align: center;
  color: white;
}

.name-color {
  text-shadow: 4px 4px 10px white;
  color: white(2, 68, 68);
}


/* Navigation */
.navbar {
  color: white;
  background: #86b8db;
  position: sticky!important;
  top: 0;
  border-bottom: 2px solid rgba(133, 133, 133, 0.25);
}

/* Nav accessibility */
a:visited {
  color: white;
}

a:hover {
  color: grey;
}

a:link {
  color:white;
}

/* Nav main */
.social-links {
  display: flex;
  padding-left: 0px;
  text-decoration: none!important;
}

li {
  margin: 8px;
  margin-left: 12px;
  font-size: 32px;
  font-weight: 500;
}

/* Nav positioning */
.nav-con {
  margin-left: 5px!important;
  margin-right: 10px!important;
  max-width: 100%!important;
}

/* Nav links */
.nav-icon {
  height: 48px;
  width: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
}



/* Description section */
#personal-desc-container {
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.personal-desc {
  border-top: 1px solid rgba(133, 133, 133, 0.25);
  height: 400px;
  width: 28vw;
  line-height: 1.5;
}

.personal-desc-title {
  padding: 86px;
  text-align: start;
  font-size: 36px;
}

.desc-header {
  text-align: start;
  padding-left: 0;
  margin-left: 0;
  padding-top: 40px;
  padding-bottom: 24px;
  min-width: 50px;
  background: linear-gradient(90deg, rgb(42, 35, 156) 0%, rgba(9,9,121,1) 35%, rgba(9,18,127,1) 38%, rgba(9,27,133,1) 41%, rgba(8,58,154,1) 51%, rgba(7,71,162,1) 55%, rgba(35,127,145,1) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.desc-para {
  text-align: start;
}


/* Projects section */
.project-head {
  text-align: center;
  padding: 16px;
}

.projects-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 16px;
}

.project-item {
  width: 400px;
  height: 300px;
  background-color: grey;
  border: 2px solid black;
}

.img-prjct {
  max-height: 100%;
  min-width: 100%;

}

.img-prjct:hover {
  opacity: 0.25;
  background-color: grey;
  transition: 0.8s;
  cursor: pointer;
}

.hover-text {
  display: none;
}
.hover-text:hover {
  display: block;
}

/* Form */


/* Footer */
.bottom-footer {
  height: 100px;
  border-top: 2px solid rgba(90, 90, 90, 0.5);
  background-color: #59a4d9;
}
