* {
  margin: 0px;
  border: 0px;
  padding: 0px;
  list-style: none;
  text-decoration: none!important;
}

a {
  text-decoration: none;
}

/* General container */
.container {
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Name intro */
.title {
  font-weight: 600;
  text-align: center;
  color: white;
}

.name-color {
  text-shadow: 4px 4px 10px white;
  color: white(2, 68, 68);
}


/* Navigation */
.navbar {
  color: white;
  background: #86b8db;
  position: sticky!important;
  top: 0;
  border-bottom: 2px solid rgba(133, 133, 133, 0.25);
}

/* Nav accessibility */
a:visited {
  color: white;
}

a:hover {
  color: grey;
}

a:link {
  color:white;
}

/* Nav main */
.social-links {
  display: flex;
  padding-left: 0px;
  text-decoration: none!important;
}

li {
  margin: 8px;
  margin-left: 12px;
  font-size: 32px;
  font-weight: 500;
}

/* Nav positioning */
.nav-con {
  margin-left: 5px!important;
  margin-right: 10px!important;
  max-width: 100%!important;
}

/* Nav links */
.nav-icon {
  height: 48px;
  width: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Column pre-text */
.background-text {
  height: 450px;
  margin-bottom: -180px;
  background-color: #86b8db;
}

/* Main text below nav */
.main-h {
  color: white;
  padding: 16px;
}
.p-main-cn {
  margin-top: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

.p-main {
  color: white;
  max-width: 55vw;
  text-align: center;
}



/* Skills column */
 .cl-container {
  height: 700px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
 }

 .cl {
  height: 650px;
  border: solid 1px rgba(128, 128, 128, 0.541);
  background-color: white;
  width: 400px;
  display: flex;
  align-items: center;
  flex-direction: column;
 }

 .tool-icon {
  margin-top: 86px;
  background-color: #86b8db;
  border-radius: 50px;
  border: 25px solid #86b8db;
  padding: 24px;
  height: 60px;
  width: 60px;

 }
 .toolli {

 }

 .pro-icon {
  width: 30px;
  height: 30px;
 }

 .clh2 {
  margin-top: 24px;
 }

 .clli {
  color: black;
  font-size: 20px;
 }

 .left {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
 }

 .mid {

 }

 .right {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
 }

/* Description section */
#personal-desc-container {
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.personal-desc {
  border-top: 1px solid rgba(133, 133, 133, 0.25);
  height: 400px;
  width: 28vw;
  line-height: 1.5;
}

.personal-desc-title {
  padding: 86px;
  text-align: start;
  font-size: 36px;
}

.desc-header {
  text-align: start;
  padding-left: 0;
  margin-left: 0;
  padding-top: 40px;
  padding-bottom: 24px;
  min-width: 50px;
  background: linear-gradient(90deg, rgba(42, 35, 156) 0%, rgba(9,9,121,1) 35%, rgba(9,18,127,1) 38%, rgb(70, 81, 143) 41%, rgb(69, 92, 134) 51%, rgb(77, 118, 175) 55%, rgba(35,127,145,1) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.desc-para {
  text-align: start;
}


/* Projects section */
.project-head {
  text-align: center;
  padding: 16px;
}

.projects-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 16px;
}

.project-item {
  height: 300px;
  width: 350px;
  background-color: grey;
  border: 2px solid black;
}

.img-prjct {
  max-height: 100%;
  min-width: 100%;

}

.img-prjct:hover {
  opacity: 0.25;
  background-color: grey;
  transition: 0.8s;
  cursor: pointer;
}

.hover-text {
  display: none;
}
.hover-text:hover {
  display: block;
}

/* Form */

.form-s {
  margin-bottom: 100px;
}


/* Footer */
.bottom-footer {
  height: 100px;
  border-top: 2px solid rgba(90, 90, 90, 0.5);
  background-color: #59a4d9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.h1f {
  color: white;
  font-size: 24px;
}
